{{! Traits Tab }}
<section
  class='tab traits scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='traits'>

  <h1>Improve traits
    {{#if showBountyRemaining}} — {{bountyRemaining}}{{/if}}
  </h1>

  {{#each traits}}
    <div class="initial-trait-entry">
      <div class="trait-label">{{label}}</div>
      <div class="trait-die">{{totalRanks}}d{{totalDieSize}}</div>

      {{#if dieRankImprovementIsPossible}}
        <div class="trait-rank-cost" data-tooltip="DLC.character.increaseTraitCost">{{nextRankCost}}</div>
      {{/if}}

      {{#if canIncreaseTraitRank}}
        <button 
          class="trait-control trait-button1" 
          type="button"
          data-id="{{traitID}}"
          data-tooltip="DLC.character.increaseTrait"
          data-action="increaseTraitRank">
            {{localize 'DLC.character.increase'}}
        </button>
      {{/if}}

      {{#if canDecreaseTraitRank}}
        <button 
          class="trait-control trait-button2" 
          type="button"
          data-id="{{traitID}}"
          data-tooltip="DLC.character.decreaseTrait"
          data-action="decreaseTraitRank">
            {{localize 'DLC.character.decrease'}}
        </button>
      {{/if}}

      {{#if dieSizeImprovementIsPossible}}
        <div class="trait-die-size-cost" data-tooltip="DLC.character.improveTraitDieSizeCost">{{nextDieCost}}</div>
      {{/if}}

      {{#if canIncreaseDieSize}}
        <button 
          class="trait-control trait-button3" 
          type="button"
          data-id="{{traitID}}"
          data-tooltip="DLC.character.increaseTraitDieSize"
          data-action="increaseDieSize">
            {{localize 'DLC.character.increase'}}
        </button>
      {{/if}}

      {{#if canDecreaseDieSize}}
        <button 
          class="trait-control trait-button4" 
          type="button"
          data-id="{{traitID}}"
          data-tooltip="DLC.character.decreaseTraitDieSize"
          data-action="decreaseDieSize">
            {{localize 'DLC.character.decrease'}}
        </button>
      {{/if}}

    </div>
  {{/each}}
</section>
