{{! Aptitudes Tab }}
<section
  class='tab aptitudes {{tab.cssClass}}'
  data-group='primary'
  data-tab='aptitudes'
>
  <h1>Aptitudes</h1>
  
  {{#each this.aptitudes}} {{#if this.show}}
    <div class="aptitude-entry">
      <div class="aptitude-label">{{this.label}}</div>
      <div class="aptitude-trait">{{this.trait}}</div>
      <div class="aptitude-die">{{this.totalRanks}}d{{this.die}}</div>
    </div>
  {{/if}} {{/each}}

</section>