{{! Other ranged Tab }}
<section class='tab otherRanged {{tab.cssClass}}' data-group='secondary' data-tab='otherRanged'>
  {{! description notes }}
  <div class="inventory-other-ranged-entry">
    <span class="inventory-other-ranged-name"><strong>Name</strong></span>
    <span class="inventory-other-ranged-ammo"><strong>Ammunition</strong></span>
    <span class="inventory-other-ranged-damage"><strong>Damage</strong></span>
    <span class="inventory-other-ranged-rof"><strong>Rof</strong></span>
    <span class="inventory-other-ranged-range-increment"><strong>Range Increment</strong></span>
    <span class="inventory-other-ranged-price"><strong>Price</strong></span>
  </div>
  <hr>

  {{#each this.otherRangedItems}}
    <div class="inventory-other-ranged-entry" data-tooltip="{{system.description}}">
      <span class="inventory-other-ranged-name">            {{name}}</span>
      <span class="inventory-other-ranged-ammo">            {{system.ammo}}</span>
      <span class="inventory-other-ranged-damage">          {{system.damage}}</span>
      <span class="inventory-other-ranged-rof">             {{system.rof}}</span>
      <span class="inventory-other-ranged-range-increment"> {{system.rangeIncrement}}</span>
      <span class="inventory-other-ranged-price">           {{system.displayprice}}</span>

      <button 
        class="inventory-other-ranged-button1"
        type="button"
        data-id="{{_id}}"
        data-tooltip="DLC.character.removeItem"
        data-action="removeItem">
          {{localize 'DLC.character.removeItem'}}
      </button>

      <button 
        class="inventory-other-ranged-button2"
        type="button"
        data-id="{{_id}}"
        data-tooltip="DLC.character.editItem"
        data-action="editItem">
          {{localize 'DLC.character.editItem'}}
      </button>

    </div>
  {{/each}}
</section>
