<section
  class='tab three scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='three'
>
<h1>
  {{localize "DLC.modificationTabConfigure.three"}}
</h1>

<label>{{localize "DLC.modification.startCost"}}
  <input type="number"  id="StartCost" name="system.three.startCost" {{#if system.three.startCost includeZero=true}} value="{{system.three.startCost}}" {{/if}} />
</label> 

<label>{{localize "DLC.modification.cost"}}
  <input type="number"  id="Cost" name="system.three.cost" {{#if system.three.cost includeZero=true}} value="{{system.three.cost}}" {{/if}} />
</label> 

<div>
  {{formGroup three.field value=three.value enriched=three.enriched height=300 toggled=true localize=true}}
</div>
</section>

