{{! Aptitudes Tab }}
<section
  class='tab aptitudes scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='aptitudes'
>

  <h1>Starting aptitudes
    {{#if showPointsRemaining}} — {{pointsRemaining}}{{/if}}
  </h1>

  {{#each aptitudes}}
    <div class="initial-aptitude-entry">
      <div class="initial-aptitude-label">{{label}}</div>
      <div class="initial-aptitude-trait">{{trait}}</div>
      <div class="initial-aptitude-die">{{totalRanks}}d{{die}}</div>
      <div class="initial-aptitude-cost" data-tooltip="DLC.character.increaseAptitudeCost">{{nextPoints}}</div>

      {{#if canIncreaseAptitudeRank}}
      <button 
        class="initial-aptitude-button1"
        type="button"
        data-id="{{aptitudeID}}"
        data-tooltip="DLC.character.increaseAptitude"
        data-action="increaseAptitude">
          {{localize 'DLC.character.increase'}}
      </button>
      {{/if}}

      {{#if canDecreaseAptitudeRank}}
      <button 
        class="initial-aptitude-button2"
        type="button"
        data-id="{{aptitudeID}}"
        data-tooltip="DLC.character.decreaseAptitude"
        data-action="decreaseAptitude">
          {{localize 'DLC.character.decrease'}}
      </button>
      {{/if}}

      {{#if canAddConcentration}}
        <select name={{choiceName}} class="initial-aptitude-concentration">
          {{selectOptions available}}
        </select>

        <button 
          class="initial-aptitude-button3"
          type="button"
          data-id="{{aptitudeID}}"
          data-tooltip="DLC.character.addConcentration"
          data-action="addConcentration">
            {{localize 'DLC.character.addConcentration'}}
        </button>
      {{/if}}
    </div>

    {{#if canRemoveConcentration}}
      {{#each concentrations}}
        <div class="initial-aptitude-entry">
          <span class="initial-aptitude-trait"><strong>{{this}}</strong></span>
          <button 
          class="initial-aptitude-button2" 
          type="button"
          data-id="{{../aptitudeID}}"
          data-item={{@index}}
          data-tooltip="DLC.character.removeConcentration"
          data-action="removeConcentration">
            {{localize 'DLC.character.remove'}}
          </button>
          <br/>
        </div>
      {{/each}}
    {{/if}}
  {{/each}}
</section>
