<section>
  <h1>Set initial traits</h1>

  <ul style="list-style: none" class="trait-entry">
    {{#each this.cards as |card index|}}

      {{#unless @last}}
        {{#if card.column1}}<li class="traitOptionItem trait-column1-label" data-drag="true" data-index={{@index}}>{{/if}}
        {{#if card.column2}}<li class="traitOptionItem trait-column2-label" data-drag="true" data-index={{@index}}>{{/if}}
        {{#if card.column3}}<li class="traitOptionItem trait-column3-label" data-drag="true" data-index={{@index}}>{{/if}}
        
            <span class="trait-column1-label">{{card.dieNum}}d{{card.die}}</span>

            {{#if card.column1}}<a type="button" class="trait-column1-card" data-tooltip="{{card.name}}"a>{{/if}}
            {{#if card.column2}}<a type="button" class="trait-column2-card" data-tooltip="{{card.name}}"a>{{/if}}
            {{#if card.column3}}<a type="button" class="trait-column3-card" data-tooltip="{{card.name}}"a>{{/if}}
            
            <img src="{{card.icon}}" />
          </a>
        </li>
      {{/unless}}
    {{/each}}
  </ul>

  <ul style="list-style: none" class="trait-entry">
  </ul>

    <select name="archtypeSelected">
      {{selectOptions optionObj selected=this.archtypeSelected localize=true}}
    </select>

    {{#unless this.traitsChosen}}
      <div>{{localize 'DLC.app.ChooseTraits'}}</div>
    {{/unless}}

    {{#unless this.mandatoryUsed}}
      <div>{{localize 'DLC.app.UseMandatory'}}</div>
    {{/unless}}

    {{#if this.validForm}}
      <input type="submit" value="Submit" data-tooltip="DLC.app.SetTraits">{{localize 'DLC.app.SetTraits'}}</>
    {{/if}}

  <ul style="list-style: none" class="trait-inputs">
    <li class="traitInput trait-input-label1" data-trait="Cognition">
      <a type="button" class="trait-input-image1"><img src="{{this.traits.Cognition.icon}}" /></a>
      <span class="trait-input-label1">Cognition</span>
    </li>
    <li class="traitInput trait-input-label2" data-trait="Deftness">
      <a type="button" class="trait-input-image2"><img src="{{this.traits.Deftness.icon}}" /></a>
      <span class="trait-input-label2">Deftness</span> 
    </li>
    <li class="traitInput trait-input-label1" data-trait="Knowledge">
      <a type="button" class="trait-input-image1"><img src="{{this.traits.Knowledge.icon}}" /></a>
      <span class="trait-input-label1">Knowledge</span>
    </li>
    <li class="traitInput trait-input-label2" data-trait="Mien">
      <a type="button" class="trait-input-image2"><img src="{{this.traits.Mien.icon}}" /></a>
      <span class="trait-input-label2">Mien</span>
    </li>
    <li class="traitInput trait-input-label1" data-trait="Nimbleness">
      <a type="button" class="trait-input-image1"><img src="{{this.traits.Nimbleness.icon}}" /></a>
      <span class="trait-input-label1">Nimbleness</span>
    </li>
    <li class="traitInput trait-input-label2" data-trait="Quickness">
      <a type="button" class="trait-input-image2"><img src="{{this.traits.Quickness.icon}}" /></a>
      <span class="trait-input-label2">Quickness</span>
    </li>
    <li class="traitInput trait-input-label1" data-trait="Smarts">
      <a type="button" class="trait-input-image1"><img src="{{this.traits.Smarts.icon}}" /></a>
      <span class="trait-input-label1">Smarts</span>
    </li>
    <li class="traitInput trait-input-label2" data-trait="Spirit">
      <a type="button" class="trait-input-image2"><img src="{{this.traits.Spirit.icon}}" /></a>
      <span class="trait-input-label2">Spirit</span>
    </li>
    <li class="traitInput trait-input-label1" data-trait="Strength">
      <a type="button" class="trait-input-image1"><img src="{{this.traits.Strength.icon}}" /></a>
      <span class="trait-input-label1">Strength</span> 
    </li>
    <li class="traitInput trait-input-label2" data-trait="Vigor">
      <a type="button" class="trait-input-image2"><img src="{{this.traits.Vigor.icon}}" /></a>
      <span class="trait-input-label2">Vigor</span>
    </li>
  </ul>
</section>