<div>
  <div>
    {{formGroup description.field value=description.value enriched=description.enriched height=200 localize=true}}
  </div>

  <div>
    {{formGroup systemFields.calibre value=system.calibre localize=true}}
  </div>

  <div>
    {{formGroup systemFields.damage value=system.damage localize=true}}
  </div>

  <div>
    {{formGroup systemFields.rangeIncrement value=system.rangeIncrement localize=true}}
  </div>

  <div>
    {{formGroup systemFields.shots value=system.shots localize=true}}
  </div>

  <div>
    {{formGroup systemFields.rof value=system.rof localize=true}}
  </div>

  <div>
    {{formGroup systemFields.price value=system.price localize=true}}
  </div>

</div>