<div>
  <div>
    {{formGroup description.field value=description.value enriched=description.enriched height=200}}
  </div>

  <div>
    {{formGroup systemFields.calibre value=system.calibre dataset=data.calibre}}
  </div>

  <div>
    {{formGroup systemFields.damage value=system.damage dataset=data.damage}}
  </div>

  <div>
    {{formGroup systemFields.rangeIncrement value=system.rangeIncrement dataset=data.rangeIncrement}}
  </div>

  <div>
    {{formGroup systemFields.shots value=system.shots dataset=data.shots}}
  </div>

  <div>
    {{formGroup systemFields.rof value=system.rof dataset=data.rof}}
  </div>

  <div>
    {{formGroup systemFields.price value=system.price dataset=data.price}}
  </div>

</div>