<div>
  <div>

    {{#if editable}}
      {{formGroup description.field value=description.value enriched=description.enriched editable=editable height=200}}
    {{else}}
      <p>{{localize "DLC.item.FIELDS.description.label"}}</p>
      {{{description.enriched}}}
      <hr>
    {{/if}}

  </div>

  <div>
    {{formGroup systemFields.calibre value=system.calibre dataset=data.calibre disabled=(not @root.editable)}}
  </div>

  <div>
    {{formGroup systemFields.damage value=system.damage dataset=data.damage disabled=(not @root.editable)}}
  </div>

  <div>
    {{formGroup systemFields.rangeIncrement value=system.rangeIncrement dataset=data.rangeIncrement disabled=(not @root.editable)}}
  </div>

  <div>
    {{formGroup systemFields.shots value=system.shots dataset=data.shots disabled=(not @root.editable)}}
  </div>

  <div>
    {{formGroup systemFields.rof value=system.rof dataset=data.rof disabled=(not @root.editable)}}
  </div>

  <div>
    {{formGroup systemFields.price value=system.price dataset=data.price disabled=(not @root.editable)}}
  </div>

</div>